.card {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  min-width: 250px;
  max-width: 564px;
  background: #000000;
}

.card * {
  box-sizing: border-box;
  transition: all 0.4s ease;
}

.card img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  height: auto;
}


.card:hover .img-container img {
  zoom: 1;
  filter: alpha(opacity=20);
  opacity: 0.2;
}


.icon-eye {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0
}

.icon-full-screen {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    padding: 11px 11px 0 0;
    opacity: 0
}

//bouton
.icon-full-screen__button, .icon-eye__button {
background-color: transparent;
border: none;
cursor: pointer;
margin: 0;
}


figcaption {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 11px 11px 11px;

  .card-title {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left; 
    color: #ffffff;
    opacity: 0
  }
  
  .card-categorie {
    font-family: 'Space Mono';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-align: right;
    color: #ffffff;
    opacity: 0
  }
}

.card:hover .icon-eye,
.card:hover .card-categorie,
.card:hover .icon-full-screen,
.card:hover .card-title {
  opacity: 1;
}