.grid-container {
    display: grid;
    grid-template-columns: minmax(250px, 564px) minmax(250px, 564px);
    margin: 5%;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;

    @media (max-width:768px) {
        grid-template-columns: minmax(250px, 564px);
        margin: 5% !important;
    }
}

/********************************************************************/
                    /* LISTES DEROULANTES */
/********************************************************************/

.filters-container {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(250px, 564px) minmax(250px, 564px);
    gap: 20px;
    margin: 80px 5% 0 5%;
    align-items: start;
    @media (max-width:768px) {
        grid-template-columns: minmax(250px, 564px);
        margin: 5%;
    }

    .selects-taxonomies {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
    }

    #select-by-date {
        justify-self: end;
        @media (max-width:768px) {
            justify-self: start;
        }
    }
}


.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 260px;
}

    .dropdown-button {
        width: 260px;
        height: 43px;
        border: 1.3px solid #B8BBC2;
        background-color: #ffffff;
        border-radius: 8px;
        padding: 11px 18px;
        text-transform: uppercase;
        font-family: 'Poppins';
        font-size: 12px;
        font-weight: 500;
        text-align: left;
    }

    .dropdown-button::after {
        content: '\276F'; //symbol Heavy Right-Pointing Angle Quotation Mark Ornament
        font-size: 1em;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%) rotate(90deg);
        padding-top: 20px;
    }
    
    .custom-dropdown.active .dropdown-button::after {
        transform: translateY(-50%) rotate(270deg); /* Rotate arrow when dropdown is active */
        padding-top: 0;
        padding-bottom: 20px;
    }

    .custom-dropdown.active .dropdown-button {
        border: 1.3px solid #215AFF;
        border-radius: 8px 8px 0 0;
    }

    .custom-dropdown .dropdown-button:focus {
        border: 1.3px solid #215AFF;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        width: 260px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1; 
    }

    .dropdown-item {
        padding: 12px;
        text-decoration: none;
        display: block;
        font-family: 'Poppins';
        font-size: 12px;
        font-weight: 500;
        border: none;
        background: none;
        cursor: pointer;
        text-align: left;
        width: 100%;
        transition: background-color 0.3s;
    }


    .dropdown-item--title-colors {
        background-color: #FFFFFF !important;
        color: transparent; 
    }

    .dropdown-item:hover {
        background-color: #FFD6D6; /* on hover */
    }

    .selected-option {
        background-color: #E00000;
        color: #FFFFFF;
    }

    .dropdown-item:active {
        background-color: #FE5858; /* when pressed */
    }

    .custom-dropdown.active .dropdown-content {
        display: block;
    }


// Container du bouton charger plus
.load-more-btn-container {
    display: flex;
    justify-content: center;



}