// *******************************
/* Barre de navigation */
// *******************************
.main-navigation {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    height: 80px;
    max-width: 1440px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 14px 10px #00000008; ///* offset-x | offset-y | blur-radius | spread-radius | color */
    z-index: 3;
    width: 100%;


    .menu-menu-principal-container{
        height: inherit;
        @media (max-width:768px) {
            display: none;
        }

        .menu {
            list-style-type: none;
            display: flex;
            margin: 0 146px 0 0;
            justify-content: flex-end;
            gap: 45px;
            height: inherit;
            align-items: center;
            width:auto;

            li a {
                text-decoration: none;
                color: #000000;
                
                &:hover {
                    font-weight: 700;
                }
            }
        }
    }

    .main-navigation__logo {
        width:auto;
        margin-left: 10%;

        img {
            width: 216px;
            @media (max-width:768px) { 
                width: 138px;
            }
        }
    }  
}


//******************************
/* Icone burger */
//******************************
.burger-icon {
    display: none;
}

@media (max-width:768px) { 

    /* bouton qui contient l'icone burger */
    .burger-icon {
    position: absolute;
    right: 8%;
    display:block !important;
    padding:0;
    width:28px;
    height:19px;
    cursor:pointer;
    background-color: transparent;
    border: none;
    }  

    //Ligne centrale qui compose l'icone burger
    .burger-icon__line {
        display:block;    
        width:28px;
        height:1.7px;  
        background:#000000; 
        transition: all .5s ease-in-out;
        // Création des lignes du haut et du bas de l'icone burger   
        &::before, &::after {
            content:"";
            width:28px;
            height:1.7px;
            position:absolute; 
            right:0;  
            background:#000000;   
            transition: all .5s ease-in-out;
        }
    
        &::before {
            transform:translateY(-9px)
        }

        &::after {
            transform:translateY(9px)
        }
}


//*********************************************************
/* Transformation de l'Icone burger en croix de fermeture */
//*********************************************************
// Agrandissement du bouton pour contenir l'icone croix de fermeture
.main-navigation .icon-toggle {
    width:28px;
    height:19px;
   // Modification de l'icone burger en croix de fermeture
    .burger-icon__line {
        width:0;
        background:transparent;  
    
        &::before {
            transform:rotate(40deg);
        }

        &::after {     
            transform:rotate(-40deg);
        }
    }
}

}